.container{
    margin-top: 3%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
  }

.content {
    flex: 1 0 auto;
  }

.footer {
    flex-shrink: 0;
  }

.text_footer{

    display: flex;
    align-items: center;
    justify-content: center;
 
}

/* tema escuro forms */
body[data-theme="light"] {
    background-color: white;
    color: black;
  }
  
  body[data-theme="dark"] {
    background-color: black;
    color: white;
  }



/* tema escuro footer */

  .footer {
    height: 115px;
    display: flex;
    justify-content: center; /* Alinha o conteúdo verticalmente ao centro */
}

.text_footer, .text-muted, .footer div {
    font-size: 0.9em; /* Reduz o tamanho da fonte */
    margin-top: 4px; /* Remove margens */
}


  .footer[data-theme="light"] {
    background-color: #f8f9fa;
  }
  
  .footer[data-theme="dark"] {
    background-color: #343a40;
  }
  
  .text_footer[data-theme="light"] {
    color: black;
  }
  
  .text_footer[data-theme="dark"] {
    color: white;
  }
  
  /* tema escuro tabela */
  body[data-theme='light'] {
    background-color: white;
    color: black;
  }
  
  body[data-theme='dark'] {
    background-color: black;
    color: white;
  }
  
  body[data-theme='light'] .table {
    color: black;
  }
  
  body[data-theme='dark'] .table {
    color: white;
  }
  
  body[data-theme='light'] .table th {
    color: black;
}

body[data-theme='dark'] .table th {
    color: white;
}

 /* página de termos de serviço */
.termo{
  background-color: black;
}

#term {
  font-family: Arial, sans-serif;
  color: white;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}


.poli{
  background-color: black;
}

#estilo {
  font-family: Arial, sans-serif;
  color: white;
  width: 80%;
  margin: auto;
}
